<!DOCTYPE html>
<html>
<head>
<title>Upload</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>

<form id="upload-form" method="POST" enctype="multipart/form-data">

    <strong>Files:</strong><br>
    <input id="file-picker" type="file" name="file" accept="video/*" multiple>

    <button type="submit"> Submit</button>
</form>
</body>
<div id="response">


</div>
<script>

$(document).ready(function(){

    $('#upload-form').submit(function(event){


         var formdata = new FormData($(this)[0]);
         console.log(formdata);
         console.log($(this)[0]);
         event.preventDefault();
         $.ajax({

                url: "{{ url_for('upload') }}",
                data: formdata,
                enctype: 'multipart/form-data',
                type: 'POST',
                processData: false,
                contentType: false,
                success: function(data){



                                alert(data.name);
                        },


         });
    });
});

</script>
</html>